@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes Regular';
  src: url(./fonts/TTLakes-Regular.eot);
  src: url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background: #F8F8F8;
  font-family: "TT Lakes Regular", "Arial", sans-serif; }

.opacity-page {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #F8F8F8;
  position: fixed;
  z-index: -1;
  transition: z-index 0.3s, opacity 0.5s ease; }

.opacity-page-active {
  z-index: 5;
  transition: 0.4s ease; }

.navigation-header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9FFF5;
  background: #FFFFFF; }

.nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px; }

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px; }

.nav-left__item,
.nav-right__item {
  background: #FFFFFF; }

.main-sections {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.right-section,
.left-section {
  display: flex; }

.right-section__item,
.left-section__item {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 16px;
  background: #F8F8F8; }

.left-section__item__title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-left: 12px; }

.right-section__item-text {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21; }

.right-section__item {
  gap: 8px; }

.right-section__item:first-child {
  margin-right: 32px; }

.nav-left__item:nth-child(2),
.nav-right__item:nth-child(1),
.nav-right__item:nth-child(2),
.nav-right__item:nth-child(3),
.right-section {
  display: none; }

.navigation-main {
  padding-bottom: 24px; }

.main-nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
  gap: 2px;
  padding-left: 16px; }

.main-nav::-webkit-scrollbar {
  display: none; }

.main-nav__ltem {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #7E7E82;
  font-family: "TT Lakes Medium", sans-serif;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 9.3px 8px 16px; }

.main-nav__ltem:hover {
  border: 2px solid #B8FFEC;
  background: #FFFFFF; }

.info__container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 24px; }

.info__about {
  padding: 0 16px 16px; }

.info__about,
.info__logo {
  width: 100%; }

.info__about-text {
  height: 140px;
  overflow: hidden;
  font-family: "TT Lakes Regular", sans-serif;
  color: #1B1C21;
  line-height: 18px;
  letter-spacing: 0.2px; }

.info__logo img {
  width: 100%;
  height: auto; }

.info__button {
  background: #F8F8F8;
  margin-top: 16px; }

.info__button-text {
  font-size: 16px;
  font-family: "TT Lakes Medium", sans-serif;
  color: #1B1C21;
  line-height: 24px;
  letter-spacing: -0.2px; }

@media (min-width: 768px) {
  .nav-left__item:nth-child(2),
  .nav-right__item:nth-child(1),
  .nav-right__item:nth-child(2),
  .nav-right__item:nth-child(3) {
    display: block; }
  .nav-left {
    padding-left: 24px;
    gap: 20px; }
  .nav-right {
    padding-right: 24px; }
  .nav-right__item:nth-child(4) {
    margin-left: 4px;
    margin-right: 4px; }
  .left-section__item__title {
    margin-left: 20px; }
  .left-section__item {
    margin-bottom: 32px; }
  .navigation-main {
    padding-bottom: 32px; }
  .main-nav {
    padding-left: 24px; }
  .info__about,
  .info__logo {
    width: calc(50% - 16px); }
  .info__about {
    padding-left: 24px; }
  .info__logo {
    padding-right: 24px; }
  .info__about-text {
    line-height: 20px; }
  .info__button {
    margin-top: 10px; } }

@media (min-width: 1120px) {
  .navigation-header {
    border-bottom: none;
    display: none; }
  .right-section {
    display: flex; }
  .left-section__item__title {
    margin-left: 30px; }
  .left-section__item,
  .right-section__item {
    margin-top: 42px;
    margin-bottom: 8px; }
  .right-section__item {
    margin-right: 32px; }
  .navigation-main {
    padding-bottom: 12.22px; }
  .main-nav {
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px; }
  .main-nav__ltem {
    padding: 8px 16px 8px 16px; }
  .info__about {
    padding: 0 4px 13px 34px; }
  .info__logo {
    padding-right: 28.65px; }
  .info__button {
    margin-top: 14px; } }

.service-software {
  margin-top: 24px;
  padding: 16px;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98%);
  border-top: 1px solid #D9FFF5; }

.service-software__title {
  text-transform: uppercase;
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px; }

.brand-repair {
  height: 102px; }

.tech-repair {
  height: 190px; }

.prices-services {
  height: 230px; }

.brand-repair__slides {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  box-sizing: border-box; }

.brand-repair__blurring {
  position: fixed;
  right: 0;
  z-index: 2;
  height: 72px;
  width: 24px;
  background: linear-gradient(270deg, #F8F8F8 16%, rgba(248, 248, 248, 0) 100%); }

.brand-repair__slide {
  width: 240px;
  min-width: 224px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF; }

.brand-repair__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px; }

.brand-repair__link {
  background: url(./static/go.svg);
  width: 40px;
  height: 40px; }

.brand-repair__link:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.slide-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 34px 24px;
  background-color: #F8F8F8;
  display: none; }

.slide-show-more__text {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-align: center; }

@media (min-width: 768px) {
  .service-software {
    padding: 16px 0 16px 24px; }
  .brand-repair,
  .tech-repair,
  .prices-services {
    height: auto; }
  .brand-repair__slides {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    padding: 0 24px;
    margin-top: 24px;
    height: 160px; }
  .brand-repair__blurring {
    display: none; }
  .brand-repair__slide {
    width: 224px;
    flex-shrink: 0; }
  .slide-show-more {
    display: inline-block; }
  .swiper-pagination {
    display: none; } }

@media (min-width: 1120px) {
  .service-software {
    padding: 16px 0 16px 32px; }
  .brand-repair__slides {
    gap: 16px 32px;
    margin-top: 40px; }
  .brand-repair__slide {
    width: 240px; } }

.different-tech-repairs {
  margin-top: 24px;
  padding: 16px;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5; }

.different-tech-repairs__title {
  text-transform: uppercase;
  color: #7E7E82;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.2px; }

.tech-repair__slides {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  box-sizing: border-box; }

.tech-repair__slide {
  width: 240px;
  min-width: 224px;
  height: 160px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
  padding: 16px; }

.tech-repair__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.tech-repair__button {
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF; }

.tech-repair__button img:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.slide-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 34px 24px;
  background-color: #F8F8F8;
  display: none; }

.slide-show-more__text {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-align: center; }

@media (min-width: 768px) {
  .different-tech-repairs {
    padding: 16px 0 16px 24px; }
  .tech-repair__slides {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    padding: 0 24px;
    margin-top: 24px;
    height: 160px; }
  .tech-repair__slide {
    width: 224px;
    flex-shrink: 0; }
  .slide-show-more {
    display: inline-block; } }

@media (min-width: 1120px) {
  .different-tech-repairs {
    padding: 16px 0 16px 32px; }
  .tech-repair__slides {
    gap: 16px 32px; }
  .tech-repair__slide {
    width: 240px; } }

.prices-block {
  margin-top: 24px;
  padding: 16px;
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5; }

.prices-block__title {
  text-transform: uppercase;
  color: #7E7E82;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.2px; }

.prices-services__slides {
  padding: 0 16px;
  margin-top: 16px;
  box-sizing: border-box; }

.prices-services__slide {
  min-width: 260px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
  padding: 16px; }

.prices-services__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px; }

.prices-services__time-and-button {
  display: flex;
  justify-content: space-between; }

.prices-services__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px; }

.prices-services__button:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.prices-services__title {
  font-family: 'TT Lakes Regular', sans-serif;
  color: #7E7E82;
  line-height: 16px; }

.prices-services__title--highlighted {
  font-family: 'TT Lakes Bold', sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase; }

.prices-services__text {
  color: #1B1C21;
  line-height: 18px;
  letter-spacing: 0.2px; }

.prices-services__content--title-hidden-block-xs {
  display: none; }

.prices-info {
  padding: 16px 16px 50px 16px;
  border-bottom: 1px solid #D9FFF5; }

.prices-info__description-wrapper {
  display: flex;
  margin-bottom: 16px; }

.prices-info__description {
  display: flex; }

.prices-info__description-text {
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21; }

.prices-info__button {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: inherit; }

.prices-info__button-text {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.prices-info__button-text::after {
  content: "";
  background-image: url(./static/more.svg);
  width: 24px;
  height: 27.491px;
  display: inline-block;
  transform: translateY(10px); }

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px; }

.footer__info-text {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  text-align: center; }

@media (min-width: 768px) {
  .prices-services__content--title-hidden-block-xs {
    display: flex; }
  .prices-block__title {
    padding: 0 16px 0 24px; }
  .prices-services__slides {
    display: flex;
    flex-direction: column;
    padding: 0 24px; }
  .prices-services__slide {
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0; }
  .prices-services__content {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding: 16px; }
  .prices-services__title--hidden-sm {
    display: none; }
  .prices-services__repairs {
    flex: 45%; }
  .prices-services__price {
    flex: 5%; }
  .prices-services__time {
    display: flex;
    align-items: center; }
  .prices-services__time-and-button {
    flex: 25%; }
  .prices-services__timing {
    flex: 25%; }
  .prices-info__description {
    flex-basis: 60%; }
  .prices-info {
    padding: 24px 24px 50px 24px; }
  .footer__info {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    gap: 0; }
  .footer__info-text {
    flex: 33.3%; }
  .footer__info-text:first-child {
    text-align: left; }
  .footer__info-text:last-child {
    text-align: right; } }

.main-container {
  position: relative; }

.container {
  margin-left: 0px; }

.side-wrapper {
  min-height: 100%;
  position: fixed;
  background-color: #FFFFFF;
  transform: translateX(-200%);
  transition: transform 1s ease;
  z-index: 2; }

.container-side {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #1B1C21;
  font-family: "TT Lakes Medium", sans-serif;
  line-height: 24px;
  letter-spacing: -0.2px; }

.active-burger {
  transform: translateX(0%);
  z-index: 5; }

.menu-side-header {
  display: flex;
  justify-content: space-between;
  padding: 16.78px 24px 24.78px 24px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.menu-side-header__item {
  background-color: #FFFFFF;
  cursor: pointer; }

.menu-side-header__item:first-child {
  margin-right: 16px; }

.menu-side-header__item:last-child {
  margin-left: 78px; }

.menu-side-header__item:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.menu-side-main__item {
  margin-left: 24px; }

.menu-side-main {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 32px; }

.menu-side-main__item {
  display: flex;
  align-items: center;
  cursor: pointer; }

.menu-side-main__item:hover {
  margin-left: 0px;
  opacity: 0.5;
  transform: scale(0.99);
  transition: transform 0.2s ease-in-out; }

.menu-side-main__item:hover:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 32px;
  margin-right: 20px;
  background-image: url(./static/highlight.svg); }

.container-side__footer {
  margin-top: auto;
  padding-left: 24px; }

.menu-side-footer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px; }

.menu-side-footer__item {
  background-color: #FFFFFF;
  cursor: pointer; }

.contacts-footer__email {
  margin-bottom: 12px;
  cursor: pointer; }

.contacts-footer__phone {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes Bold", sans-serif;
  cursor: pointer; }

.lang-choice-footer {
  padding-bottom: 32px; }

.lang-choice-footer__item {
  cursor: pointer; }

.menu-side-footer__item:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.lang-choice-footer__item:hover {
  opacity: 0.5; }

@media (min-width: 400px) {
  .container-side {
    width: 320px; } }

@media (min-width: 768px) {
  .contacts-footer__phone {
    margin-bottom: 40px; }
  .menu-side-main {
    row-gap: 32px; }
  .menu-side-header {
    padding-bottom: 50.27px; } }

@media (min-width: 1120px) {
  .side-wrapper {
    transform: translateX(0);
    transition: transform 1s ease;
    position: absolute; }
  .container {
    margin-left: 320px; }
  .menu-side-header__item:first-child {
    display: none; }
  .menu-side-header {
    padding-top: 30px; } }

.callback {
  width: 100vw;
  height: 100vh;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  border: 1px solid #D9FFF5;
  border-radius: 1px;
  transition: width 1s, transform 2s;
  transform: translateX(130%);
  background-color: #FFFFFF; }

.callback-translate {
  transform: translateX(0%); }

.callback__close-btn {
  margin-right: auto;
  background-color: transparent;
  border: none;
  margin-bottom: 40px; }

.callback__title {
  display: flex;
  align-items: center;
  font-family: 'TT Lakes Bold', sans-serif;
  color: #1B1C21;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-bottom: 24px; }

.callback__title::before {
  content: '';
  background-image: url(./static/highlight.svg);
  background-color: #41F6D7;
  border-radius: 0 10px 10px 0;
  width: 4px;
  height: 40px;
  position: absolute;
  left: 0;
  display: inline-block; }

.callback__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px; }

.callback__form-phone {
  width: 100%;
  font-family: 'TT Lakes Medium', sans-serif;
  color: #B5B6BC;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  padding: 12px 16px; }

.callback__agreement {
  font-family: 'TT Lakes Medium', sans-serif;
  color: #7E7E82;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 19px; }

.callback__agreement span {
  color: #FF3E79; }

.callback__send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  margin-left: auto; }

.callback__send-btn:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.callback__send-btn-text {
  font-family: 'TT Lakes Bold', sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase; }

@media (min-width: 400px) {
  .callback {
    width: 320px; } }

@media (min-width: 1230px) {
  .callback {
    width: 440px;
    padding: 45px 32px; }
  .callback__close-btn {
    position: absolute;
    left: -65px;
    top: 40px; } }

/*                     Отсюда начинается код!                    */
.feedback {
  width: 100vw;
  height: 100vh;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  border: 1px solid #D9FFF5;
  border-radius: 1px;
  transition: width 1s, transform 2s;
  transform: translateX(130%);
  background-color: #FFFFFF; }

.feedback-translate {
  transform: translateX(0%); }

.feedback__close-btn {
  margin-right: auto;
  background-color: transparent;
  border: none;
  margin-bottom: 40px; }

.feedback__title {
  display: flex;
  align-items: center;
  font-family: 'TT Lakes Bold', sans-serif;
  color: #1B1C21;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-bottom: 24px; }

.feedback__title::before {
  content: '';
  background-image: url(./static/highlight.svg);
  background-color: #41F6D7;
  border-radius: 0 10px 10px 0;
  width: 4px;
  height: 40px;
  position: absolute;
  left: 0;
  display: inline-block; }

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px; }

.feedback__form-name,
.feedback__form-phone,
.feedback__form-email,
.feedback__form-text {
  width: 100%;
  font-family: 'TT Lakes Medium', sans-serif;
  color: #B5B6BC;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  padding: 12px 16px; }

.feedback__agreement {
  font-family: 'TT Lakes Medium', sans-serif;
  color: #7E7E82;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 19px; }

.feedback__agreement span {
  color: #FF3E79; }

.feedback__send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  margin-left: auto; }

.feedback__send-btn:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
  opacity: 0.5; }

.feedback__send-btn-text {
  font-family: 'TT Lakes Bold', sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  /* 200% */
  letter-spacing: -0.15px;
  text-transform: uppercase; }

@media (min-width: 400px) {
  .feedback {
    width: 320px; } }

@media (min-width: 1230px) {
  .feedback {
    width: 440px;
    padding: 45px 32px; }
  .feedback__close-btn {
    position: absolute;
    left: -65px;
    top: 40px; } }


/*# sourceMappingURL=style.css.map*/